.triangle {
  width: 0px;
  height: 0px;
  border-left: 30px solid #ffa1a1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin: 0 10px;
}

.rateStyle {
  color: #ffa1a1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-btn-blue {
  background-color: #ffa1a1;
  color: #ffffff;
  width: 100px;
  height: 50px;
  margin: 20px;
  border-color: #ffbdbd;
}

.yellow-circle {
  margin:auto; 
  width: 30px; 
  height:30px; 
  background: yellow; 
  border-radius:250px;
  margin: 0 5px;

}

.gray-circle {
  margin:auto; 
  width: 30px; 
  height:30px; 
  background: gray; 
  border-radius:250px;
  margin: 0 5px;
}